<html>
  <head>
    <meta charset="utf-8">
    <title>Monitoring</title>
    <!-- BootStrap -->
    <link href=" https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      #pageTitle {
        margin-bottom: 40px;
        text-align: center;
      }
      #streams {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
      a { text-decoration:none; }
      .modal-dialog {
        position: absolute;
        top: 10%;
        right: 0;
        bottom: 0;
        max-width: 35%;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
      }
      p {
          /* width: 25ch; */
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
      .notificationContent {
        padding: 5px 10px;
      }
      .titleNotification {
        display: flex;
      }
      .contextNotification {
        margin-left: 5%;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Главная</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('reporting')}}">Отчетность</a></li>
            {% if role == 'administrator' %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://localhost:5001">Управление БД</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('managingRoles')}}">Роли</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('statistics')}}">Статистика</a></li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('scheduledEvents')}}">
                <i class="bi bi-calendar-event h1"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('addCamera')}}">
                <i class="bi bi-plus-circle h1"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('infoСamera')}}">
                <i class="bi bi-camera-video h1"></i>
              </a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light text-dark" onclick="changeDisplay()">
                <i class="bi bi-grid-3x3 h1"></i>
              </button>
            </li>
            <li class="nav-item">
              <button type="button" id="notifications" onclick="openNotificationWindow()" class="nav-link active" aria-current="page">
                <i class="bi bi-bell h1"></i>
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">
                <i class="bi bi-person-circle h1"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Уведомления</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>

      <div id="pageTitle">
        <h1>Видеотрансляции с камер</h1>
      </div>
      <div id="streams"></div>
    </main>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      let uniqueNotifications = new Map();
      // localStorage.notifications === undefined ? new Map() : new Map(JSON.parse(localStorage.notifications));

      let statusWindowNotification = false;
      let myModal = new bootstrap.Modal(document.getElementById('myModal'),{backdrop: false});
      let modalWindow = document.getElementsByClassName('modal-body')[0];

      const options = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'long',
        timezone: 'UTC',
        hour: 'numeric',
        minute: 'numeric'
      };

      function openNotificationWindow() {
        statusWindowNotification = document.getElementById('myModal').style.display === 'none' ? false : true;
        // if (statusWindowNotification) {
        myModal.show();
        uniqueNotifications.forEach((value, key, map) => {
          const detectedSigns = getSigns(value.signs);
          createNewBlockNotification(modalWindow, key, value.dateTime, detectedSigns);
        });
        // }
        // else {
        //   myModal.hide();
        // }
      }

      function getSigns(value) {
        let signs = JSON.stringify(value);
        signs = JSON.parse(signs);
        let detectedSigns = '';
        if (signs.Пожар !== undefined) detectedSigns += `Признаки пожара: ${signs.Пожар}\n`; // Fire
        if (signs.Задымление !== undefined) detectedSigns += `Признаки задымления: ${signs.Задымление}`; // Smoke
        return detectedSigns;
      }

      function createNewBlockNotification(mw, cn, dt, ss) {
        if (document.getElementById(cn) === null)
        {
          let generalBlock = document.createElement('div');
          let titleNotification = document.createElement('div');
          let iconBlock = document.createElement('div');
          let icon = document.createElement('i');
          let cameraNameBlock = document.createElement('div');
          let paragrafcameraName = document.createElement('p');
          let cameraName = document.createElement('strong');
          let closeNotificationBlock = document.createElement('div');
          let closeNotificationButton = document.createElement('button');
          let contextNotification = document.createElement('div');
          let dateTimeBlock = document.createElement('div');
          let signsBlock = document.createElement('div');

          generalBlock.className = "alert alert-warning alert-danger fade show";
          titleNotification.className = "titleNotification";
          titleNotification.setAttribute("role", "alert");
          iconBlock.className = "notificationContent";
          icon.className = "bi bi-exclamation-octagon-fill h5";
          cameraNameBlock.className = "notificationContent";
          paragrafcameraName.id = 'cn';
          closeNotificationBlock.className = "notificationContent";
          closeNotificationButton.type = "button";
          closeNotificationButton.className = "btn-close";
          closeNotificationButton.setAttribute("data-bs-dismiss", "alert");
          closeNotificationButton.setAttribute("aria-label", "Close");
          contextNotification.className = "notificationContent";
          signsBlock.id = cn;

          cameraName.innerHTML = "Камера " + cn;
          dateTimeBlock.innerHTML = dt;
          signsBlock.innerHTML = ss;

          mw.appendChild(generalBlock);
          generalBlock.appendChild(titleNotification);
          titleNotification.appendChild(iconBlock);
          iconBlock.appendChild(icon);
          titleNotification.appendChild(cameraNameBlock);
          cameraNameBlock.appendChild(paragrafcameraName);
          paragrafcameraName.appendChild(cameraName);
          titleNotification.appendChild(closeNotificationBlock);
          closeNotificationBlock.appendChild(closeNotificationButton);
          generalBlock.appendChild(contextNotification);
          contextNotification.appendChild(dateTimeBlock);
          contextNotification.appendChild(signsBlock);
        }
      }

      function changeSizeStream(imgs, w, h) {
        for (let i = 0; i < imgs.length; i++) {
          let image = imgs[i];
          image.style.width = `${w}px`;
          image.style.height = `${h}px`;
        }
      }

      function changeDisplay() {
        let streams = document.getElementById('streams');
        let gridView = document.getElementsByClassName('bi-grid-3x3')[0];
        let listView = document.getElementsByClassName('bi-list')[0];
        let images = document.getElementsByTagName('img');
        if (gridView === undefined) {
          listView.classList.remove('bi-list');
          listView.classList.add('bi-grid-3x3');
          streams.style.flexDirection = 'row';
          changeSizeStream(images, 350, 262.5);
        }
        else {
          gridView.classList.remove('bi-grid-3x3');
          gridView.classList.add('bi-list');
          streams.style.flexDirection = 'column';
          changeSizeStream(images, 450, 337.5);
        }
      }


      document.addEventListener("DOMContentLoaded", () => {
        const socket = io.connect('http://localhost:5050', {
          'reconnection': true,
          // 'reconnectionDelayMax': 5000,
          // 'reconnectionAttempts': 5
        });
        socket.on('connect', function() {
          let list_id_camera = [];
          for (let i = 0; i < cameraСounter; i++) {
            list_id_camera.push(i);
          }
          socket.emit('my_event', {data: list_id_camera});
        });
        socket.on("data", function(data) {
          let iconBell = document.getElementsByClassName('bi-bell')[0];
          if (iconBell !== undefined) {
            iconBell.classList.remove('bi-bell');
            iconBell.classList.add('bi-bell-fill');
          }
          /// Для диамического обновления данных, при открытом окне уведомлений!
          if (uniqueNotifications.get(data.camera_name) !== undefined) {
            let newSigns = JSON.stringify(data.value);
            newSigns = JSON.parse(newSigns);
            let detectedSigns = '';
            if (newSigns.Пожар !== undefined) detectedSigns += `Признаки пожара: ${newSigns.Пожар}\n`; // Fire
            if (newSigns.Задымление !== undefined) detectedSigns += `Признаки задымления: ${newSigns.Задымление}`; // Smoke
            let notification = document.getElementById(data.camera_name);
            if (notification !== null) notification.innerHTML = detectedSigns;
          }

          else {
            /// Дорисавываем новое уведомление, если окно открыто
            if (statusWindowNotification) {
              const detectedSigns = getSigns(data.value);
              createNewBlockNotification(modalWindow, data.camera_name, new Date().toLocaleString("ru", options), detectedSigns);
            }
          }

          /// Вносим изменения в map
          uniqueNotifications.set(data.camera_name, {'dateTime': new Date().toLocaleString("ru", options), 'signs': data.value});
          // localStorage.notifications = JSON.stringify(Array.from(uniqueNotifications));
        });
      });
      
      const cameras = '{{cameras|tojson}}';
      console.log(cameras);
      const cameraСounter = JSON.parse(cameras).length;
      for (let i = 0; i < cameraСounter; i++)
      {
        let stream = document.createElement('img');
        let url = "{{ url_for('video_feed', id='value') }}".replace('value', i);
        stream.style.margin = '2%';
        stream.style.width = '350px';
        stream.style.height = '262.5px';
        stream.src = url;
        stream.alt = 'Не удалось получить доступ к камере';
        document.getElementById('streams').append(stream);
      }
    </script>
  </body>
</html>