<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>infoСamera</title>
    <!-- BootStrap -->
    <link href=" https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      body { margin: 0 auto; }
      /* a { text-decoration:none; } */
      a { color: white; }
      i { color: darkorange; }
      main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 2% 5%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      #chart, #videoData { width: 50%; height: 40%; }
      #figcaptionCameraStream {
        color: red;
        font-weight: 900;
        font-size: larger;
        text-align: center;
      }
      #warning {
        padding: 15px 10px;
        margin-bottom: 20px;
        text-align: center;
        flex: 0 1 100%;
        background: red;
        border-radius: 10px;

        color: white;
        font-size: 20px;
        font-weight: 900;

        box-shadow: 0px 0px 1px 1px #0000001a;
      }
      .pulse {
        animation: pulse-animation 2s infinite;
      }
      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(245, 39, 39, 0.2);
        }
        100% {
          box-shadow: 0 0 0 20px rgba(245, 39, 39, 0);
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Главная</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Управление БД</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('reporting')}}">Отчетность</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('managingRoles')}}">Роли</a></li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" id="timer">
              <a class="nav-link active" aria-current="page" href="/scheduledActions/{{idCamera}}">
                <i class="bi bi-stopwatch h1"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">
                <i class="bi bi-person-circle h1"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="warning" class="pulse">
        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="#">Внимание! Обнаружены признаки возгорания. Необходимо срочно принять меры!</a>
      </div>
      <div id="videoData">
        <figure>
          <figcaption id="figcaptionCameraStream"></figcaption>
          <img id="cameraStream" src="" onerror="" />
        </figure>
      </div>
      <div id="chart">
        <canvas id="myChart"></canvas>
      </div>
    </main>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Графики -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      //@ts-check
      let stream = document.getElementById('cameraStream');
      let flagSuccessDownload = true;
      let url = "{{ url_for('video_feed', id='value') }}".replace('value', '{{stream}}');
      stream.src = url;
      stream.onerror = () => {
        if (flagSuccessDownload) {
        stream.src = "{{url_for('static', filename='images/source_not_found.jpg')}}";
        let figCaption = document.getElementById('figcaptionCameraStream');
        figCaption.innerHTML = 'Не удалось получить трансляцию с камеры!';
        flagSuccessDownload = !flagSuccessDownload;
        stream.style.display = 'none';
        }
      };
      
      let warning = document.getElementById('warning');
      warning.style.display = 'none';

      document.addEventListener("DOMContentLoaded", () => {
        const socket = io.connect('http://localhost:5050', {
          'reconnection': true
        });
        socket.on('connect', function() {
          socket.emit('my_event', {data: ['{{stream}}']});
        });
        socket.on("data", function(data) {
          if (warning.style.display === 'none')
          {
            warning.style.display = 'block';
            console.log(data);
          }
        });
      });
    </script>
    <script>
      //@ts-check
      const labels = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресень'];
      const ctx = document.getElementById('myChart');

      /// Для отрисовки
      const getOrCreateTooltip = (chart) => {
        let tooltipEl = chart.canvas.parentNode.querySelector('div');
        
        if (!tooltipEl) {
          tooltipEl = document.createElement('div');
          tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
          tooltipEl.style.borderRadius = '3px';
          tooltipEl.style.color = 'white';
          tooltipEl.style.opacity = 1;
          tooltipEl.style.pointerEvents = 'none';
          tooltipEl.style.position = 'absolute';
          tooltipEl.style.transform = 'translate(-50%, 0)';
          tooltipEl.style.transition = 'all .1s ease';

          const table = document.createElement('table');
          table.style.margin = '0px';

          tooltipEl.appendChild(table);
          chart.canvas.parentNode.appendChild(tooltipEl);
        }
        return tooltipEl;
      };

      const externalTooltipHandler = (context) => {
        // Tooltip Element
        const {chart, tooltip} = context;
        const tooltipEl = getOrCreateTooltip(chart);

        // Hide if no tooltip
        if (tooltip.opacity === 0) {
          tooltipEl.style.opacity = 0;
          return;
        }

        // Set Text
        if (tooltip.body) {
          const titleLines = tooltip.title || [];
          const bodyLines = tooltip.body.map(b => b.lines);

          const tableHead = document.createElement('thead');

          titleLines.forEach(title => {
            const tr = document.createElement('tr');
            tr.style.borderWidth = 0;

            const th = document.createElement('th');
            th.style.borderWidth = 0;
            const text = document.createTextNode(title);

            th.appendChild(text);
            tr.appendChild(th);
            tableHead.appendChild(tr);
          });

          const tableBody = document.createElement('tbody');
          bodyLines.forEach((body, i) => {
            const colors = tooltip.labelColors[i];

            const span = document.createElement('span');
            span.style.background = colors.backgroundColor;
            span.style.borderColor = colors.borderColor;
            span.style.borderWidth = '2px';
            span.style.marginRight = '10px';
            span.style.height = '10px';
            span.style.width = '10px';
            span.style.display = 'inline-block';

            const tr = document.createElement('tr');
            tr.style.backgroundColor = 'inherit';
            tr.style.borderWidth = 0;

            const td = document.createElement('td');
            td.style.borderWidth = 0;

            const text = document.createTextNode(body);

            td.appendChild(span);
            td.appendChild(text);
            tr.appendChild(td);
            tableBody.appendChild(tr);
          });

          const tableRoot = tooltipEl.querySelector('table');

          // Remove old children
          while (tableRoot.firstChild) {
            tableRoot.firstChild.remove();
          }

          // Add new children
          tableRoot.appendChild(tableHead);
          tableRoot.appendChild(tableBody);
        }

        const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

        // Display, position, and set styles for font
        tooltipEl.style.opacity = 1;
        tooltipEl.style.left = positionX + tooltip.caretX + 'px';
        tooltipEl.style.top = positionY + tooltip.caretY + 'px';
        tooltipEl.style.font = tooltip.options.bodyFont.string;
        tooltipEl.style.padding = tooltip.options.padding + 'px ' + tooltip.options.padding + 'px';
      };


      
      const idCamera = Number('{{idCamera}}');
      switch (idCamera) {
        case 1:
          drawGraphForCamera([4, 2, 1, 0, 0, 2, 1], [1, 2, 2, 5, 0, 2, 3]);
          break;
        case 2:
          drawGraphForCamera([2, 4, 3, 10, 0, 5, 1], [4, 2, 3, 20, 1, 3, 0]);
          break;
        case 3:
          drawGraphForCamera([3, 2, 7, 5, 0, 4, 1], [4, 6, 3, 5, 0, 8, 0]);
          break;
        default:
          drawGraphForCamera([3, 0, 2, 0, 4, 9, 5], [5, 1, 3, 0, 4, 11, 7]);
      }

      /// Непосредственно отрисовка
      function drawGraphForCamera (fireData, smokeData) {
        /// Данные для отрисовки
        const data = {
        labels: labels,
        datasets: [
          {
            label: 'Признаки пожара',
            data: fireData,
            fill: false,
            borderColor: '#ffa500',
            backgroundColor: '#ff9900',
          },
          {
            label: 'Признаки задымлений',
            data: smokeData,
            fill: false,
            borderColor: '#808080',
            backgroundColor: '#8a7f8e',
          },
        ]
      };

        new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          interaction: {
            mode: 'index',
            intersect: false,
          },
          plugins: {
            title: {
              display: true,
              text: 'Количество происшествий за прошедшую неделю'
            },
            tooltip: {
              enabled: false,
              position: 'nearest',
              external: externalTooltipHandler
            }
          }
        }
      });
      }
    </script>
  </body>
</html>