<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>scheduledEvents</title>
    <!-- BootStrap -->
    <link href=" https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
      /* body { margin: 0 auto; } */
      a { text-decoration:none; }
      i { color: darkorange; }
      main {
        display: flex;
        align-items: flex-start;
        padding: 2% 5%;
      }
      #fieldSearch {
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
      #search { padding: 2% 0% 2% 5%; }
      #buttonSearch, #search {
        border: none;
        outline: none;
        background: none;
      }
      #systemSearch {
        padding: 1%;
        height: min-content;
        margin-right: 1.5%;
      }
      .list-group-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .list-group { width: 100%; }
      #parameter, #systemSearch { border: 1px solid gray; }
      input[type='checkbox'] {
        width: 20px;
        height: 20px;
        margin-right: 5%;
      }
      td {
        font-weight: 400;
        font-size: 17px;
        font-style: normal;
        font-stretch: normal;
      }
  </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Главная</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Управление БД</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Отчетность</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('managingRoles')}}">Роли</a></li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">
                <i class="bi bi-person-circle h1"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <form action="" id="systemSearch" onSubmit="return false;">
        <div id="fieldSearch">
          <div>
            <input type="text" id="search" placeholder="Параметры камер" onkeyup="searchMatches(event)">
          </div>
          <div style="padding-left: 2.5%;">
            <button type="button" id="buttonSearch">
              <i class="fas fa-magnifying-glass"></i>
            </input>
          </div>
        </div>
        <div id="parameter" class="input-group mb-3">
          <ul class="list-group list-group-flush">
            <span class="input-group-text">Тип собития</span>
            <li class="list-group-item list-group-item-action">
                <input class="form-check-input" type="radio" name="action" value="recurring" id="recurring" onclick="filtering(1, 'recurring_event')"/>
                <label class="form-check-label" for="recurring">Повторяющиеся</label>
            </li>
            <li class="list-group-item list-group-item-action">
                <input class="form-check-input" type="radio" name="action" value="OneTimePayments" id="OneTimePayments" onclick="filtering(1, 'recurring_event')"/>
                <label class="form-check-label" for="OneTimePayments">Единовременные</label>
            </li>
          </ul>
        </div>
        <div id="parameter" class="input-group mb-3">
          <ul class="list-group list-group-flush">
            <span class="input-group-text">Вид события</span>
            <li class="list-group-item list-group-item-action">
              <input type="checkbox" class="form-check-input me-1" value="oneCamera" aria-label="..." onclick="filtering(2, 'action')" />
              Отчет по одной камере
            </li>
            <li class="list-group-item list-group-item-action">
              <input type="checkbox" class="form-check-input me-1" value="allCameras" aria-label="..." onclick="filtering(2, 'action')" />
              Отчет по всем камерам
            </li>
          </ul>
        </div>
      </form>
      <table id="dataTable" class="table table-hover table-bordered caption-top sortable">
        <caption>Зарегистрированные собития</caption>
        <thead>
          <tr>
            <th valign="middle" style="text-align: center;">Наименование</th>
            <th valign="middle" style="text-align: center;">Описание</th>
            <th valign="middle" style="text-align: center;">Тип события</thё>
            <th valign="middle" style="text-align: center;">Дата срабатывания</th>
            <th valign="middle" style="text-align: center;">Частота срабатывания</th>
            <th valign="middle" style="text-align: center;">Событие</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Сортировка таблицы -->
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      //@ts-check
      /// Сортировка
      let table = document.getElementById('dataTable');
      let tbody = document.getElementsByTagName('tbody')[0];
      const events = '{{ events|tojson }}';
      const data = JSON.parse(events);

      for (let objEvent in data)
      {
        const stringEvent = JSON.stringify(data[objEvent]);
        const event = JSON.parse(stringEvent);
        event['name'];
        tbody.innerHTML += ``;
      }

      // Фильтрация
      const tr = table.getElementsByTagName('tr');
      function filtering(indexParameter, titleParameter) {
        let inputStatus = document.getElementsByClassName(titleParameter);
        let arrValueChecked = new Map();
        for (let i = 0; i < inputStatus.length; i++) {
          arrValueChecked.set(inputStatus[i].value, inputStatus[i].checked);
        }
        const values = new Set(arrValueChecked.values());
        if (values.size === 1) displayRows();
        else {
          arrValueChecked.forEach((value, key, map) => {
            key = key.toUpperCase();
            if (value) {
              for (let i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[indexParameter];
                if (td) {
                  txtValue = td.innerText.toUpperCase();
                  if (txtValue.indexOf(key) > -1) displayRows(i);
                  else tr[i].style.display = "none";
                }
              }
            }
          });
        }
      }

      /// Отображение необходимых полей
      function displayRows(numberRows = 'all') {
        if (numberRows === 'all') {
          for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
          }
        }
        else tr[Number(numberRows)].style.display = "";
      }

      /// Поле поиска
      function searchMatches(event) {
        const valueSearch = document.getElementById('search').value.toUpperCase();

        for (let i = 0; i < tr.length; i++) {
          thTitle = tr[i].getElementsByTagName('th')[0];
          tdUrl = tr[i].getElementsByTagName('td')[0];
          tdCity = tr[i].getElementsByTagName('td')[3];
          if (thTitle && tdUrl && tdCity) {
            const txtTitle = thTitle.innerText.toUpperCase();
            const txtUrl = tdUrl.innerText.toUpperCase();
            const txtCity = tdCity.innerText.toUpperCase();
            if (txtTitle.indexOf(valueSearch) > -1) displayRows(i);
            else if (txtUrl.indexOf(valueSearch) > -1) displayRows(i);
            else if (txtCity.indexOf(valueSearch) > -1) displayRows(i);
            else tr[i].style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>