<html>
  <head>
    <meta charset="utf-8">
    <title>SignUp</title>
    <!-- BootStrap -->
    <link href=" https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        a { text-decoration:none; }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        form {
            text-align: center;
            min-width: 400px;
            width: 60%;
            height: auto;
            padding: 15px;
            border: 1px solid gray;
            border-radius: 25px;
        }
        main {
            display: flex;
            justify-content: center;
            /* align-items: center; */
        }
        #titlePage {
            margin-bottom: 5%;
        }
        #repeatPasswordLabel {
            white-space:pre-wrap;
            text-align: start;
            font-weight: 600;
        }
    </style>
  </head>
  <body>
    <main>
      <form action="{{url_for('signUp')}}" method="post" class="g-3 needs-validation" novalidate>
        <div id="titlePage"><h3>Регистрация в системе</h3></div>
        <div class="form-outline mb-4">
            <input type="text" required placeholder="Имя пользователя" id="username" name="username" class="form-control" />
            <div class="invalid-feedback">Пожалуйста, введите свое имя.</div>
        </div>
        <div class="form-outline mb-4">
            <input type="email" required placeholder="Email" id="login" name="login" class="form-control" />
            <div class="invalid-feedback">Пожалуйста, введите действительный адрес электронной почты.</div>
        </div>
        <div class="form-outline mb-4">
            <input type="password" required placeholder="Пароль" id="password" name="password" class="form-control" />
            <div class="invalid-feedback" id="passwordLabel">Пожалуйста, введите пароль.</div>
        </div>
        <div class="form-outline mb-4">
            <input type="password" required placeholder="Повторите пароль" id="repeatPassword"class="form-control" />
            <div class="invalid-feedback" id="repeatPasswordLabel"></div>
        </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div>
            <input type="submit" class="btn btn-primary btn-block mb-3" value="Зарегистрироваться">
        </div>
        <div>
            <a href="{{url_for('signIn')}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Уже есть аккаунт</a>
        </div>
      </form>
    </main>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        (function () {
            'use strict'
            let forms = document.querySelectorAll('.needs-validation');
            
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    let validForm = true;
                    let checkList = new Map([
                        ['longPassword', true],
                        ['presenceLettersAndNumbers', true],
                        ['matchingPasswords', true],
                    ]);
                    const errorMessages = new Map([
                        ['longPassword', ['', '• Длина пароля должна быть не менее 8 символов']],
                        ['presenceLettersAndNumbers', ['', '• Пароль должен содержать заглавные и прописные буквы латинского алфавита, а также спец. символы']],
                        ['matchingPasswords', ['Пожалуйста, введите пароль.', '• Пароли не совпадают']],
                    ]);

                    let password = document.getElementById('password').value;
                    let passwordRepetition = document.getElementById('repeatPassword').value;
                    const passwordValidator = new RegExp(/^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$/gm);
                    
                    /// Проверка пароля;
                    const resultValidator = passwordValidator.test(password);
                    if (!resultValidator) {
                        checkList.set('presenceLettersAndNumbers', false);
                    }
                    if (password.length < 8) {
                        checkList.set('longPassword', false);
                    }
                    if (password !== passwordRepetition) {
                        checkList.set('matchingPasswords', false);
                    }

                    let listErrorsInPassword = '';
                    checkList.forEach((value, key, map) => {
                        if (!value) {
                            validForm = false;
                            listErrorsInPassword += errorMessages.get(key)[1] + '\n';
                        }
                    });
                    if (!validForm) {
                        document.getElementById('password').setCustomValidity(listErrorsInPassword);
                        document.getElementById('repeatPassword').setCustomValidity(listErrorsInPassword);
                        let repeatPasswordLabel = document.getElementById('repeatPasswordLabel');
                        repeatPasswordLabel.innerHTML = listErrorsInPassword;
                        let passwordLabel = document.getElementById('passwordLabel');
                        passwordLabel.innerHTML = password.length === 0 ? errorMessages.get('matchingPasswords')[0] : '';
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    else {
                        document.getElementById('password').setCustomValidity('');
                        document.getElementById('repeatPassword').setCustomValidity('');
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>
  </body>
</html>